nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    font-size: 20px;
    font-weight: lighter;
    width: 100vw;
    display: block;

    #name {
        float: left;
        text-align: center;
        color: black;
        background-color: #111;
        margin-left: 20px;
        padding: 14px 16px;

        a{

          text-shadow: 2px 2px 4px #fff, -2px 2px 4px #fff, -2px -2px 4px #fff, 2px -2px 4px #fff, 0px 2px 4px #fff, 0px 0px 4px #fff, 2px 0px 4px #fff, -2px 0px 4px #fff, 0px -2px 4px #fff;
        }
    }

    #navItems{
      float: right;
      margin-right: 20px;

      a {
        display: inline-block;
        color: rgb(200, 200, 200);
        text-align: center;
        padding: 14px 16px;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: rgb(0, 200, 0);
          transition: width 0.3s;
        }

        &:hover {
          background-color: #111;
          color: #fff;
          transition: all 0.6s;
        }

        &:hover:after {
          width: 100%;
          height: 1px;
          background: rgb(0, 200, 0);
          transition: width 0.3s;
          animation: next-arrow 2s infinite;
      }
    }
  }
}
